body{
margin:0;
background:#000;
color:white;
font-family:Arial;
}

.header{
display:flex;
align-items:center;
gap:10px;
padding:15px;
font-size:22px;
font-weight:600;
}

.backBtn{
width:40px;
height:40px;
border-radius:10px;
background:#111;
border:none;
color:white;
}

.topBar{
display:flex;
justify-content:space-between;
padding:0 15px 10px;
}

.selectAll{
display:flex;
gap:6px;
align-items:center;
}

#deleteBtn{
background:#ff3d3d;
border:none;
padding:10px 14px;
border-radius:8px;
color:white;
}

.breadcrumbs{
padding:0 15px 10px;
color:#aaa;
}

.galleryGrid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:14px;
padding:15px;
margin-bottom: 50px;
}

.folderCard,
.imageCard{
background:#111;
border-radius:14px;
padding:10px;
text-align:center;
position:relative;
}

.folderIcon{
font-size:30px;
}

.imageCard img{
width:100%;
aspect-ratio:1;
object-fit:cover;
border-radius:10px;
}

.itemCheck{
position:absolute;
top:8px;
left:8px;
}

.actions{
position:fixed;
bottom:0;
left:0;
right:0;
display:flex;
gap:10px;
padding:15px;
background:black;
}

.btn{
flex:1;
padding:14px;
border-radius:12px;
border:none;
background:linear-gradient(90deg,#ff9a00,#ff2d87);
color:white;
}

.viewer{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:black;
display:none;
align-items:center;
justify-content:center;
}

.viewer img{
max-width:95%;
max-height:90%;
}

.closeViewer{
position:absolute;
top:20px;
left:20px;
background:#111;
border:none;
color:white;
padding:10px;
border-radius:8px;
}

.processPopup{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.8);
display:flex;
align-items:center;
justify-content:center;
z-index:9999;
}

.hidden{
display:none;
}

.processBox{
background:#111;
padding:25px;
border-radius:12px;
width:80%;
text-align:center;
}

.progressBar{
height:10px;
background:#333;
border-radius:10px;
margin-top:15px;
overflow:hidden;
}

#progressFill{
height:100%;
width:0%;
background:linear-gradient(90deg,#ff9a00,#ff2d87);
transition:width .3s;
}

#progressText{
margin-top:10px;
font-size:18px;
}